/* 
1.set in every page the color of:
 -Background
 -Footer
 -header
2. set styleSheet of the Navigationbar
*/

Body {
	background-color: #F3F3F0;
	font-family: 'Oxygen', sans-serif;
}

header {
	background-color: #333;
}

nav {
	background-color: #333;
	overflow: hidden;
	margin: 0%;
}

nav ul {
	list-style-type: none;
	padding: 0 2 0 0;
	overflow: hidden;
	margin: 0%;
}

nav li {
	float: left;
	margin: 0%;
}

nav li a {
	padding: 1.5em;
	height: 1.0em;
	display: inline-block;
	color: white;
	text-align: center;
	text-decoration: none;
}

nav li a:hover:not(.active) {
	background-color: #222;
}

.active {
	background-color: #FF8868;
}

.logo {
	display: block;
	width: 100px;
	height: 7%;
	padding: 0%;
	margin: 0%;
	text-decoration: none;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;

}

/*
Footer
*/

.basicFooter {
	margin-top: 1%;
	background-color: #222;
	height: 8%;
	right: 0%;
	left: 0%;
	bottom: 0%;
	position: fixed;
	text-align: center;
	padding-top: 1%;
	padding-bottom: 1%;

}

.copyRights {
	color: rgba(255, 255, 255, 0.6);
	text-align: center;
}

#owner {
	color: #fff;
}

.socialMedia_Footer img {
	height: 2%;
	width: 2%;
}

.socialMedia_Footer {
	padding: 0%;
}


/*
Orange Panner under the nav (See about us
*/

.OrangePanner {
	padding: 2%;
	text-align: center;
	display: block;
	background-color: #FF8868;
	font-size: normal;
	color: #333;
	font-style: italic;
	position: relative;
	height: auto;
}

.OrangePanner p {
	color: white;
}
