/* 
1.set in every page the color of:
 -Background
 -Footer
 -header
2. set styleSheet of the Navigationbar
*/

Body {
	background-color: #F3F3F0;
	font-family: 'Oxygen', sans-serif;
}

header {
	background-color: #333;
}

nav {
	background-color: #333;
	position: absolute;
	Top: 0%;
	left: 0%;
	right: 0%;
	line-height: 100%;
	align-content: flex-end;
	overflow: hidden;
	width: 100%;
}

nav ul {
	list-style-type: none;
	margin: 0%;
	padding: 0 10 0 0;
	overflow: hidden;
}

nav li {
	float: left;
}

nav li a {
	padding: 1.25em;
	height: 1.3em;
	display: inline-block;
	color: white;
	text-align: center;
	padding: auto;


	text-decoration: none;
}

nav li a:hover:not(.active) {
	background-color: #222;
}

.active {
	background-color: #FF8868;
}

.logo {
	display: block;
	width: 100px;
	height: 60px;
	padding: 0%;
	margin: 0%;
	text-decoration: none;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;

}

.basicFooter {
	background-color: #222;
	height: 8%;
	right: 0%;
	left: 0%;
	bottom: 0%;
	position: fixed;
	text-align: center;
	padding-top: 1%;
	padding-bottom: 1%;

}

.copyRights {
	color: rgba(255, 255, 255, 0.6);
	text-align: center;
}

#owner {
	color: #fff;
}

.socialMedia_Footer img {
	height: 2%;
	width: 2%;
}

.socialMedia_Footer {
	padding: 0%;
}
