.antwort {
    text-align: left;
    display: none;
    width: auto;
    border: none;
    background-color: #f3f3f0;
    padding-left: 10%;
    padding-right: 10%;
    color: #333;
}

.frage {
    background-color: #333;
    cursor: pointer;
    display: inline-block;
    color: #ff8868;
    text-decoration: none;
    text-align: center;
    text-shadow: 0px 0px 0.5px #f3f3f0;
    text-align: left;
    width: 100%;
}

.frage p {
    padding-left: 30px;
}

.frage:hover {
    background-color: #555;
}

.FAQcontainer {
    min-height: 62vh;
    font-size: large;
}


/**For Mobile */

@media only screen and (max-width: 750px) {
    .frage p {
        padding-left: 30px;
        padding-right: 10px;
    }
    .FAQcontainer {
        font-size: large;
    }
}


/*fixing footer spacing*/

#page-container {
    position: relative;
    min-height: 35vh;
    /*heigth of the footer away from the main */
}