@media (monochrome) {
    html {
        color: black;
    }
    nav {
        background-color: #262526;
    }
    video,
    img {
        filter: grayscale(100%);
    }
    #OrangePanner {
        background-color: rgb(195, 195, 195);
    }
    .breadcrumb {
        background-color: rgb(195, 195, 195);
    }
    /*index*/
    .title a {
        color: black;
        text-shadow: none;
    }
    .columnTwo h1 {
        color: black;
    }
    .outNow a {
        color: black;
        text-shadow: none;
    }
    .movie:hover {
        box-shadow: 5px 5px 10px white;
    }
    nav li a
}